In [1]:
# This notebook groups tweets into conversations and groups the
# conversations by company and saves this info in "data/comp_cll_df.csv"

# You need to first download twcs.zip (the raw data file containing
# all the tweets) from 
# https://www.kaggle.com/thoughtvector/customer-support-on-twitter/downloads/twcs.zip/10.
# You may have to create a free Kaggle account to do this.
# Extract twcs.csv to the data/ folder.

In [3]:
## importing modules

%matplotlib notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from shutil import rmtree
from glob import glob
from fnmatch import fnmatch
from dill import load, dump
from pprint import pprint

In [6]:
## read in data

df_raw = pd.read_csv('data/twcs.csv', nrows=1000)
print(df_raw.info())
df_raw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
tweet_id                   1000 non-null int64
author_id                  1000 non-null object
inbound                    1000 non-null bool
created_at                 1000 non-null object
text                       1000 non-null object
response_tweet_id          679 non-null object
in_response_to_tweet_id    747 non-null float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 47.9+ KB
None

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0

In [7]:
## clean data a bit and SAVE

# convert 'created_at' to datetime format
df = df_raw[['created_at', 'author_id', 'text', 'tweet_id', 'response_tweet_id', 
         'in_response_to_tweet_id', 'inbound']].copy()
df['time'] = pd.to_datetime(df['created_at'], infer_datetime_format=True)

# rearrange columns and sort by time
df = df[['time', 'author_id', 'text', 'tweet_id', 'response_tweet_id', 
         'in_response_to_tweet_id', 'inbound']]
df.sort_values(by = "time", inplace = True)

# set tweet_id as index
df.set_index('tweet_id', inplace = True)

# standardize whitespace to avoid problems with saving as csv
df["text"] = df["text"].str.replace(r"\s+", " ", regex = True)

# save
df.to_csv("data/twcs_clean.csv")

In [8]:
### ENTRY POINT. load clean csv

df = pd.read_csv('data/twcs_clean.csv').set_index("tweet_id")
df["time"] = pd.to_datetime(df["time"], infer_datetime_format=True)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 348 to 276
Data columns (total 6 columns):
time                       1000 non-null datetime64[ns]
author_id                  1000 non-null object
text                       1000 non-null object
response_tweet_id          679 non-null object
in_response_to_tweet_id    747 non-null float64
inbound                    1000 non-null bool
dtypes: bool(1), datetime64[ns](1), float64(1), object(3)
memory usage: 47.9+ KB
None

,time,author_id,text,response_tweet_id,in_response_to_tweet_id,inbound
tweet_id,,,,,,
348,2011-08-29 03:20:05,115798,"Lost your booking number? No worries, just dro...","349,350,351,352,347,353,354,355,356,357,358,35...",NaN,True
611,2016-08-06 01:31:50,115818,@DELTA i booked my flight using delta amex car...,609,NaN,True
609,2016-08-06 01:44:03,Delta,"@115818 Glad to check. Pls, DM your confirmati...",610,611.0,False
752,2017-10-12 10:11:50,115867,@AppleSupport my Apple TV works fine with my p...,751,NaN,True
293,2017-10-18 14:07:45,115769,Whoa! Come along with Lightroom’s own Ben Ward...,292,NaN,True

In [9]:
## make tweet chains for individual conversations

# save start_locs of convos
# a convo starts when 'in_response_to' is nan
def is_start_of_convo(rowtuple):
    
    # having a finite "in_response_to_tweet_id" 
    # means tweet is not convo starter
    if np.isfinite(
        getattr(rowtuple, "in_response_to_tweet_id")):
        return False
    
    else:
        return True
    
def get_start_locs(df = df):
    
    print("Computing convo_start_locs ...")
    
    # get the starter tups
    starter_tups_map = filter(is_start_of_convo,
                             df.itertuples())
    
    # get the locs of the starter tups
    tup_to_loc = lambda tup: tup.Index
    start_locs = list(map(tup_to_loc, starter_tups_map))
    
    return start_locs
    
convo_start_locs = get_start_locs()
        
print('Total convos =', len(convo_start_locs))
# print('convo_start_locs =', convo_start_locs)

# get the locs (and company) for a conversation given a start_loc
def get_convo_locs_n_comp(convo_start_loc, df = df):
    
    def get_next_locs(cur_locs, df = df):
        # recursively gets next locs
        
        next_locs = []
        for cur_loc in cur_locs:
            
            if cur_loc in df.index:
                resp_tw_ids_entry = df.loc[cur_loc]['response_tweet_id']
                
                if isinstance(resp_tw_ids_entry, str):
                    # next line splits up something like "45,65"
                    # in the response_tweet_id into a list of locs: [45, 65]
                    next_locs += list(map(int, resp_tw_ids_entry.split(",")))
                    
        if len(next_locs) > 0:
            next_locs += get_next_locs(next_locs)
        
        return next_locs
    
    convo_locs = [convo_start_loc] + get_next_locs([convo_start_loc])
    
    # take out non-existent locs
    convo_locs = list(filter(
        lambda loc: loc in df.index,
        convo_locs
        ))
    
    # make df and sort by time
    convo_df = df.loc[convo_locs]
    convo_df.sort_values(by = 'time', inplace = True)
    convo_locs = list(convo_df.index)
    
    # get company
    company = np.nan
    for rowtup in convo_df.itertuples():

        try:
            # if int, keep hunting
            _ = int(getattr(rowtup, "author_id"))
            
        except:
            # if not int, save
            company = getattr(rowtup, "author_id")
            break
    
    return convo_locs, company

start_loc = 18
convo_locs, company = get_convo_locs_n_comp(start_loc)
print("\nExample convo for \"" + company + "\":")
# print(df.loc[convo_locs][["author_id", "time", "text"]])

# temporary
print(df.loc[convo_locs][["text"]].values)

Computing convo_start_locs ...
Total convos = 253

Example convo for "sprintcare":
[['@115714 y’all lie about your “great” connection. 5 bars LTE, still won’t load something. Smh.']
 ["@115713 H there! We'd definitely like to work with you on this, how long have you been experiencing this issue? -AA"]
 ['@sprintcare Since I signed up with you....Since day 1']
 ["@115713 We understand your concerns and we'd like for you to please send us a Direct Message, so that we can further assist you. -AA"]
 ['@sprintcare You gonna magically change your connectivity for me and my whole family ? 🤥 💯']
 ['@115713 This is saddening to hear. Please shoot us a DM, so that we can look into this for you. -KC']]

In [10]:
## SLOW! get convo_loc_lists for all start_locs

# cll: convo_loc_list
cll_comp_tups = list(map(get_convo_locs_n_comp, convo_start_locs))
pprint(cll_comp_tups[:5])
print(" ...")

[([348,
   347,
   343,
   334,
   344,
   375,
   374,
   332,
   333,
   335,
   336,
   337,
   338,
   339,
   340,
   341,
   342],
  'AirAsiaSupport'),
 ([611, 609, 610], 'Delta'),
 ([752, 751, 750], 'AppleSupport'),
 ([293, 292, 291], 'AdobeCare'),
 ([614, 612, 613], 'McDonalds')]
 ...

In [11]:
### group convos by company

from collections import defaultdict

# making a dict where item is (company: clll)
# clll: cll_list i.e. list of conversations ("cll"s)

comp_clll_dict = defaultdict(list)

for cll, comp in cll_comp_tups:
    comp_clll_dict[comp].append(cll)
    
comp_clll_dict

defaultdict(list,
            {'AirAsiaSupport': [[348,
               347,
               343,
               334,
               344,
               375,
               374,
               332,
               333,
               335,
               336,
               337,
               338,
               339,
               340,
               341,
               342],
              [371, 369, 370, 368],
              [367, 366, 364, 362, 363, 365]],
             'Delta': [[611, 609, 610],
              [801, 799, 796, 794, 795, 797, 798],
              [814, 813, 811, 810, 809, 807, 808, 804, 805, 806],
              [817,
               815,
               816,
               818,
               819,
               820,
               821,
               833,
               832,
               847,
               823,
               822,
               829,
               834,
               828,
               835,
               827,
               826,
               825,
               824,
               831,
               830,
               836,
               839,
               837,
               838,
               840,
               843,
               842,
               841,
               844,
               846,
               845],
              [803, 802],
              [792, 790, 791, 793]],
             'AppleSupport': [[752, 751, 750],
              [747, 746, 745, 744, 740, 738, 739, 741, 742, 743],
              [765, 764, 763, 761, 760, 759],
              [730, 729, 728, 727, 725, 724],
              [756, 755, 754, 753],
              [711, 710, 709, 708, 707, 705, 704, 703, 702, 701],
              [719, 718, 717, 716],
              [749, 748],
              [767, 766],
              [758, 757],
              [723, 722, 721, 720],
              [733, 732],
              [700, 698, 696, 697, 699],
              [736, 734, 735, 737],
              [714, 712, 713]],
             'AdobeCare': [[293, 292, 291],
              [290, 289, 288, 287, 285, 284],
              [283, 282],
              [279, 278],
              [281, 280],
              [253,
               251,
               252,
               254,
               255,
               256,
               257,
               258,
               259,
               260,
               261,
               262,
               264,
               268,
               263,
               266,
               265,
               267],
              [295, 294],
              [298, 296, 297, 300, 301, 299],
              [250, 249, 247, 245, 242, 240, 241, 243, 244]],
             'McDonalds': [[614, 612, 613],
              [409, 410, 408, 487, 599, 598, 407]],
             'sprintcare': [[1304, 1303, 1302],
              [18, 17, 16, 15, 12, 11],
              [8, 6, 5, 4, 3, 1, 2],
              [20, 19],
              [1312, 1311],
              [1288, 1285, 1287, 1286, 1289, 1290],
              [1299, 1300, 1298],
              [1293, 1296, 1291, 1292, 1294, 1295]],
             'ChipotleTweets': [[156, 155, 154],
              [81, 80, 79],
              [1346, 1345, 1344],
              [163, 162, 161, 160],
              [76, 75, 74, 73],
              [175, 174, 172, 171, 170],
              [177, 176],
              [169, 168],
              [167, 166],
              [165, 164],
              [159, 158],
              [153, 152],
              [78, 77],
              [71, 70],
              [69, 68],
              [66, 64, 65],
              [1421, 1420],
              [1418, 1416, 1417, 1419],
              [1408, 1407],
              [1405, 1404],
              [1403, 1402],
              [1401, 1399, 1400],
              [1398, 1397],
              [1394, 1392, 1393, 1395],
              [1386, 1384, 1385, 1387],
              [1391, 1390],
              [1380, 1378, 1379, 1381, 1382, 1383],
              [1377, 1376],
              [1375, 1374],
              [1373, 1372],
              [1371, 1370],
              [1369, 1368],
              [1367, 1366],
              [1364, 1363],
              [1361, 1359, 1360, 1362],
              [1356, 1355],
              [1354, 1353],
              [1343, 1342],
              [1341, 1340],
              [1339, 1338],
              [1336, 1334, 1335, 1337],
              [1333, 1331, 1332],
              [1330, 1329],
              [1328, 1327],
              [1358, 1357]],
             'DropboxSupport': [[1559, 1558],
              [1557, 1555, 1554],
              [1563, 1562, 1561, 1560]],
             'hulu_support': [[1279, 1278, 1277],
              [1272, 1271, 1270, 1269, 1267, 1265, 1266, 1268],
              [1264, 1263],
              [1260, 1258, 1259, 1261, 1262],
              [1275, 1273, 1274, 1276]],
             'TMobileHelp': [[1072, 1071, 1070, 1069, 1068, 1067, 1066],
              [1174, 1173, 1172, 1171, 1170, 1168, 1167, 1166],
              [1158, 1157, 1156],
              [1165, 1164],
              [1161, 1160],
              [1163, 1162]],
             'AmazonHelp': [[662, 661, 660],
              [643, 642, 641, 640, 639, 638, 637],
              [682, 681, 680],
              [678, 677, 676, 675],
              [672, 671, 670, 668, 669],
              [695, 694],
              [630, 628, 626, 627, 629],
              [632, 631],
              [634, 633],
              [646, 644, 645, 647],
              [690, 689, 686, 684, 685, 687],
              [664, 663],
              [659, 658, 657, 656],
              [636, 635],
              [693, 692],
              [667, 665, 666],
              [652, 650, 651, 653, 654, 655],
              [624, 622, 623, 625],
              [617, 615, 616, 618, 619],
              [649, 648],
              [621, 620],
              [325, 324],
              [272, 269, 270, 271, 273, 274, 275]],
             'British_Airways': [[886, 884, 883, 881, 880],
              [969, 967, 968, 970],
              [974, 971, 973, 972, 975, 976, 977, 979, 978],
              [966, 965],
              [872, 867, 868, 871, 869, 870, 873],
              [877, 875, 876]],
             'SouthwestAir': [[1239,
               1238,
               1237,
               1236,
               1235,
               1234,
               1233,
               1232,
               1231,
               1230],
              [1244, 1243],
              [1242, 1241],
              [1223, 1221, 1222, 1219, 1217, 1218, 1220],
              [1216, 1215],
              [1229, 1228],
              [1214, 1213],
              [1212, 1211]],
             'UPSHelp': [[608, 607, 606], [605, 604]],
             'AskAmex': [[406, 405, 404, 403, 399, 397, 398, 400, 401, 402]],
             'sainsburys': [[1325, 1324]],
             'CoxHelp': [[1513, 1511, 1510, 1509],
              [1518, 1516, 1517, 1519],
              [1515, 1514],
              [1508, 1506, 1507],
              [1521, 1520]],
             'ATVIAssist': [[234, 232, 231, 226, 224, 225, 227, 228, 229, 230],
              [239, 238],
              [220, 219],
              [216, 215, 213, 211, 212, 214],
              [218, 217],
              [210, 209],
              [237, 235, 236]],
             'VirginTrains': [[1207,
               1206,
               1205,
               1204,
               1203,
               1202,
               1201,
               1200,
               1199,
               1198],
              [1189, 1194, 1188, 1208, 1209, 1186, 1187],
              [1182, 1181],
              [1185, 1183, 1184],
              [1180, 1178, 1179],
              [1177, 1176]],
             'AskPlayStation': [[188, 187],
              [185, 184, 183, 182],
              [180, 178, 179],
              [1476, 1475],
              [1474, 1473, 1472],
              [1466, 1463, 1465, 1464],
              [1458, 1457],
              [1460, 1459],
              [1456, 1454, 1452, 1453, 1455],
              [1451, 1450],
              [1471, 1470, 1469, 1468],
              [1478, 1477],
              [1462, 1461]],
             'AskeBay': [[1553, 1551, 1550, 1549],
              [1525,
               1522,
               1523,
               1524,
               1526,
               1527,
               1528,
               1529,
               1530,
               1531,
               1537,
               1536,
               1535,
               1534,
               1533,
               1532,
               1539,
               1538,
               1541,
               1540],
              [1544, 1542, 1543, 1545, 1546, 1547],
              [1249,
               1247,
               1248,
               1250,
               1251,
               1252,
               1253,
               1254,
               1255,
               1256,
               1257],
              [1246, 1245],
              [1226, 1224, 1225, 1227]],
             'YahooCare': [[601, 600]],
             'AskPayPal': [[1449, 1448, 1447],
              [1443, 1441, 1442, 1444, 1445, 1446],
              [1436, 1435],
              [1438, 1437],
              [1440, 1439],
              [1434, 1433],
              [1432, 1431]],
             'marksandspencer': [[198, 194, 196, 197, 195, 199, 200],
              [193, 192],
              [191, 190],
              [202, 201]],
             'Tesco': [[789, 788, 786, 785]],
             'SpotifyCares': [[855, 854, 853, 852, 850, 848, 849, 851],
              [862, 860, 858, 856, 857, 859],
              [866, 865, 864, 863]],
             'XboxSupport': [[323, 321, 322],
              [318, 311, 309, 310, 312, 313, 314, 315, 317, 316],
              [320, 319],
              [277, 276]],
             'HPSupport': [[1488, 1489, 1487],
              [1485, 1484],
              [1480, 1481, 1479]],
             'VerizonSupport': [[59, 58, 57, 56, 55, 54, 53, 52, 51, 50],
              [49, 48, 47, 46, 42, 40, 41, 43, 44, 45],
              [63, 62],
              [61, 60],
              [36, 34, 35, 37],
              [39, 38],
              [1430, 1429],
              [1428, 1427],
              [1424, 1422, 1423, 1426, 1425]],
             'VirginAtlantic': [[1569, 1568, 1567, 1566], [1565, 1564]],
             'MicrosoftHelps': [[208, 207], [205, 203, 204]],
             'ChaseSupport': [[1505, 1504, 1502, 1501, 1500, 1499, 1498],
              [1495, 1494],
              [1497, 1496],
              [1492, 1490, 1493, 1491]],
             'Ask_Spectrum': [[1321, 1319, 1318, 1317, 1316, 1315],
              [29, 28, 24, 21, 23, 22, 25, 26, 27],
              [31, 30],
              [33, 32],
              [1323, 1322],
              [1314, 1313]],
             'Morrisons': [[389, 390, 388],
              [385, 383, 384, 386, 387],
              [378, 376, 377, 379, 380, 381, 382]],
             'NikeSupport': [[395, 396, 394, 393, 392]],
             'Uber_Support': [[782, 781, 780, 778, 779],
              [777, 776],
              [775, 774],
              [773, 772],
              [784, 783],
              [771, 768, 769, 770]],
             'AirbnbHelp': [[306, 305, 304, 303], [308, 307]],
             'AmericanAir': [[1000, 999, 998, 997, 996],
              [1062, 1061],
              [1065, 1064],
              [1005, 1003, 1004, 1006],
              [1009, 1008],
              [1002, 1001]],
             'nationalrailenq': [[331, 330, 329, 328, 327, 326]],
             'AskLyft': [[603, 602]],
             'BofA_Help': [[1575, 1574, 1573], [1571, 1572, 1570]],
             'comcastcares': [[989, 987, 988, 990, 991, 992],
              [982, 980, 981],
              [994, 993],
              [985, 986, 983, 984]],
             'GWRHelp': [[1283, 1281, 1282, 1284]]})

In [13]:
### tool to save comp_clll_dict to csv

def save_locs_dict_to_csv(comp_clll_dict = comp_clll_dict):
    
    # [[1, 2], [3, 4, 5]] to "1,2 3,4,5"
    def list_list_to_str(ll):
        return " ".join(
            [",".join(list(map(str, l)))
                for l in ll]
            )
        
    clls_map = comp_clll_dict.values()
#     cll = list(comp_clll_dict.values())[0]
#     print()
    
    cll_strs = list(map(list_list_to_str, clls_map))
    
    # make df
    comp_cll_df = pd.DataFrame({
        "company": list(comp_clll_dict.keys()),
        "clll_str": cll_strs
        })
    
    comp_cll_df.to_csv("data/comp_cll_df.csv", index = False)
    
    return "data/comp_cll_df.csv"

print("comp_cll_df to csv:")
print(pd.read_csv(save_locs_dict_to_csv()).head())

comp_cll_df to csv:
          company                                           clll_str
0  AirAsiaSupport  348,347,343,334,344,375,374,332,333,335,336,33...
1           Delta  611,609,610 801,799,796,794,795,797,798 814,81...
2    AppleSupport  752,751,750 747,746,745,744,740,738,739,741,74...
3       AdobeCare  293,292,291 290,289,288,287,285,284 283,282 27...
4       McDonalds            614,612,613 409,410,408,487,599,598,407

In [14]:
### ENTRY POINT. tool to load comp_clll_dict from csv

def load_locs_dict_from_csv(path = "data/comp_cll_df.csv"):
    
    # "1,2 3,4,5" to [[1, 2], [3, 4, 5]]
    def str_to_ll(s):
        clstrs = s.split(" ")
        cll = [s.split(",") for s in clstrs]
        return cll
    
    # read csv
    df = pd.read_csv(path)
    comps = df["company"].values
    clll_strs = df["clll_str"]
    cllls_map = map(str_to_ll, clll_strs)
    
    # turn to dict
    comp_clll_dict = dict(zip(
        comps, cllls_map
        ))
    return comp_clll_dict

comp_clll_dict = load_locs_dict_from_csv()
print("comp_clll_dict_len:")
pprint(len(comp_clll_dict))

comp_clll_dict_len:
43